h1
  | Help
.row
  .col-md-10.col-md-offset-1
    p 
     h4
     	| This is service for your photos. If you want to upload your photos to our service create album and upload photos. Enter to link "My albums" > "Create new album". Further click "Upload photo" and save out photos in our server.  When viewing photos you may auto show your photos, in right corner in the page click to "Play". And "Stop" to stop viewing. Good luck!!! 