.row
  #slder
    #carousel-example-generic.carousel.slide[data-ride="carousel"]
      ol.carousel-indicators
        li.active[data-target="#carousel-example-generic" data-slide-to="0"]
        li[data-target="#carousel-example-generic" data-slide-to="1"]
        li[data-target="#carousel-example-generic" data-slide-to="2"]
        li[data-target="#carousel-example-generic" data-slide-to="3"]
      .carousel-inner
        .item.active
          =image_tag "slider/first.jpg" ,alt:"first slide"
          .carousel-caption
            h1
             | Save your photos on remember
        .item
          =image_tag "slider/second.jpg" ,alt:"second slide"
          .carousel-caption
            h1
             | And another You say us "Thanks"
        .item
          =image_tag "slider/third.jpg" ,alt:"third slide"
          .carousel-caption
            h1
             | Create album and upload your photos   
        .item
          =image_tag "slider/fourth.jpg" ,alt:"fourth slide"
          .carousel-caption
            h1
             | Save your naturales photos 
      a.left.carousel-control[href="#carousel-example-generic" data-slide="prev"]
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control[href="#carousel-example-generic" data-slide="next"]
        span.glyphicon.glyphicon-chevron-right

