.my-form.col-md-6.col-md-offset-3
    = form_for(:session, url: sessions_path,) do |f|
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.submit "Sign in", class: "btn btn-large btn-info"
    p
      | New user? 
      = link_to "Sign up now!", new_user_path