Welcome to PhotoSelfer, 
===============================================
 
You have successfully signed up to PhotoSelfer,
This is Your password of Your account: 
<%= @user.password %>
 If you want to change Your password please click to <%= edit_user_url(@user) %>
 
Thanks for joining and have a great day!