doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Welcome to Photoselfer
    p
      | This is Your password of Your account: 
      h2
       | Your Password
       br
      h3
        = @user.password
      br
    p
      h3
       | If you want to change your password click 
       = link_to "Change Password", edit_user_url(@user) 
    p
      | Thanks for joining and have a great day!
