Welcome to PhotoSelfer, <%= @user.name %>
===============================================
 
You have successfully signed up to PhotoSelfer,
your username is: <%= @user.name %>.
 
To login to the site, just follow this link:<%= user_url(@user) %>
 
Thanks for joining and have a great day!