doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Welcome to PhotoSelfer, 
      = @user.name
    p
      |  You have successfully signed up to PhotoSelfer, your username is: 
      = @user.name
      | .
      br
    p
      |  To login to the site, just follow this link: 
      = link_to 'User_profile', @user
      | . 
    p
      | Thanks for joining and have a great day!
