footer.my_footer.navbar-fixed-bottom.navbar-default
    div.omniauth.col-md-4.col-md-offset-4
	    ul.nav.navbar-nav
	      li
	        = link_to 'auth/vkontakte' do
	          i.fa.fa-vk.fa-2x
	        end
	      li
	        = link_to 'auth/facebook' do
	          i.fa.fa-facebook.fa-2x
	        end  