header.my_header.navbar.navbar-fixed-top.navbar-default
  .row
    .logo
      =link_to root_path do
        = image_tag ("logo/Logotype2.png")
    ul.my-nav.nav.navbar-nav
      li
        = link_to 'Home', root_path
      li
        = link_to 'Help', help_path
      - if current_user
        li 
          - unless current_user.albums.nil?
            = link_to 'My albums', albums_path
        li.dropdown
          a.dropdown-toggle[href="#" data-toggle="dropdown"]
           | My Profile 
           b.caret
           ul.dropdown-menu
            li
               = link_to 'Profile', current_user
            li
               = link_to 'Update Profile', edit_user_path(current_user)
        li
          = link_to 'Sign Out', signout_path,class:'btn btn-primary', method: :delete
      - else
        li
          = link_to 'Sign In', new_session_path
        li
          = link_to 'Sign Up',new_user_path, class:'btn btn-primary'
