.container
  .col-md-4.col-md-offset-4[style="margin-top:20px"]
    = form_for @album, :html => { :multipart => true } do |f|
      - if @album.errors.any?
        #error_explanation
          .alert.alert-error
            |  The form contains 
            = pluralize(@albums.errors.count, "error")
            | . 
          ul
            - @album.errors.full_messages.each do |msg|
              li
                | * 
                = msg
      = f.label :title
      = f.text_field :title
      = f.label :description
      = f.text_field :description

      = f.fields_for :photos do |p| 
        = p.file_field :image, multiple: true, name: "photos[image][]"
      end
      = f.submit :"Save album", class:'btn btn-info'
    end
