.container
  #myModal.modal.fade[role="dialog"]
    .modal-dialog
      .modal-content
        .modal-header
          P
            h3.text-center
             | Upload Your photos
          button.close[type="button" data-dismiss="modal"]
        .modal-body
          .container
            .col-md-6.text-center
              = form_for [@album, @album.photos.build], html: { multipart: true } do |f|
                = f.fields_for :photos, Photo.new do |p|
                  = p.file_field :image, multiple: true, name: "photos[image][]"
                end
                = f.submit 'Submit', class: 'btn btn-info'
              end
        .modal-footer
          button.btn.btn-primary[type="button" data-dismiss="modal"]
            | Close
