- provide(:title, 'Edit Album')
container
  = link_to album_path do
    i.back.fa.fa-chevron-left.fa-lg.fa-2x[aria-hidden="true"]
  end
  .col-md-4.col-md-offset-4[style="margin-top:20px"]
    = form_for :album, url: album_path(@album), method: :patch do |f|
      - if @album.errors.any?
        #error_explanation
          .alert.alert-error
            |  The form contains 
            = pluralize(@albums.errors.count, "error")
            | . 
          ul
            - @album.errors.full_messages.each do |msg|
              li
                | * 
                = msg
      = f.label :title
      = f.text_field :title
      = f.label :description
      = f.text_field :description
      = f.fields_for :photos do |p| 
        = p.file_field :image, multiple: true, name: "photos[image][]"
      end
      = f.submit :"Save album", class:'btn btn-info'
      br
      br
  = link_to 'Delete album' , album_path, method: :delete, 
                              data: { confirm: 'Are you sure?' }, 
                              class:'btn btn-info col-md-4 col-md-offset-4'

