- provide(:title, 'Your Albums')
.container
  .col-md-8.col-md-offset-2
    br
    h2.text-center
     | List of My albums
    br
    = link_to 'Create new album', new_album_path, class:'btn btn-info col-md-6 col-md-offset-3'
    br
    br
.container
  table.table.table-hover.col-md-8
    - @albums.each do |album|
      |  <tr id = 
      = "album_#{album.id}"
      | >
      td
        h4
          = link_to album_path(album) do
            = album.title
          end
      td
        = link_to 'Delete album',album_path(album), class: 'btn btn-info',
                                 method: :delete,
                                 remote: true,
                                 data: { confirm: 'Are you sure'}

         