- provide(:title, @album.title)
.row
  = link_to albums_path do
    i.back.fa.fa-chevron-left.fa-lg.fa-2x[aria-hidden="true"]
  end
.row
  .image_length.col-md-2
     h4[style='color:#00BFFF']
      | Number of images:
      = @photos.length
  .col-md-8
    h2
      = @album.title
    br
      a.btn.btn-info.col-md-4.col-md-offset-4[href="#" data-target="#myModal" data-toggle="modal"]
       | Upload Photo
    br
    br
    = link_to 'Edit album', edit_album_path, class:'btn btn-primary col-md-6 col-md-offset-3'
    br 
    br
= render 'modals'
br
  - if @photos
    #links.links[data-gallery]
      - @photos.each do |photo|
        | <div id =
        = "photo_#{photo.id}"
        | >
        .my_image.col-md-4
          = link_to photo.image_url, class: 'gallery' do
            = image_tag photo.image_url(:medium)
          end
          = link_to 'Delete', album_photo_path(@album, photo),
                              method: :delete,
                              remote: true,
                              class: 'delete_link'
        | </div>
      end

  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
        .slides
        h3.title
        a.prev
        a.next
        a.close
          i.fa.fa-times
        a.play-pause
        ol.indicator
