doctype html
html
  head
    title
      = full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/shim'
  body
    = render 'shared/header'
    = render 'shared/my_flash'
    .content.container
      = yield
    = render 'shared/footer'

    



