= link_to 'Delete', album_photo_path(@album, @photo),
                              class:'btn btn-primary col-md-4 col-md-offset-4',
                              method: :delete,
                              remote: true